footer {
  span{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background: #000000;
  }
}
